services:
  # --- MongoDB --(node_2 [primary])--
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: no
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all", "--keyFile", "/etc/mongo-keyfile"]    #added command for replicaset
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - ./mongo-keyfile:/etc/mongo-keyfile:ro   #added key file for replicaset
      - mongo_data:/data/db
    healthcheck:
      test: [ "CMD-SHELL", "mongosh -u $MONGO_USERNAME -p $MONGO_PASSWORD --authenticationDatabase admin --eval 'db.adminCommand({ ping: 1 })' || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- MongoDB --(node_2 [secondary])--
  mongodb2:
    image: mongo:7.0
    container_name: mongodb2
    restart: no
    command: [ "mongod", "--replSet", "rs0", "--bind_ip_all", "--keyFile", "/etc/mongo-keyfile" ]
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - ./mongo-keyfile:/etc/mongo-keyfile:ro
      - mongo_data2:/data/db    
    healthcheck:
      test: [ "CMD-SHELL", "mongosh -u $MONGO_USERNAME -p $MONGO_PASSWORD --authenticationDatabase admin --eval 'db.adminCommand({ ping: 1 })' || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
  
  # --- MongoDB --(node_3 [secondary])--
  mongodb3:
    image: mongo:7.0
    container_name: mongodb3
    restart: no
    command: [ "mongod", "--replSet", "rs0", "--bind_ip_all", "--keyFile", "/etc/mongo-keyfile" ]
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - ./mongo-keyfile:/etc/mongo-keyfile:ro
      - mongo_data3:/data/db
    healthcheck:
      test: [ "CMD-SHELL", "mongosh -u $MONGO_USERNAME -p $MONGO_PASSWORD --authenticationDatabase admin --eval 'db.adminCommand({ ping: 1 })' || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- MongoDB initializer --(runs only once)--
  mongo-init:
    image: mongo:7.0
    container_name: mongo-init
    depends_on:
      mongodb:
        condition: service_healthy
    entrypoint: ["bash", "-c"]
    command: |
      echo "⏳ Initializing MongoDB ReplicaSet..."
      mongosh -u ${MONGO_USERNAME} -p ${MONGO_PASSWORD} --authenticationDatabase admin --host mongodb <<EOF
      rs.initiate({
        _id: "rs0",
        members: [
          { _id: 0, host: "mongodb:27017" },
          { _id: 1, host: "mongodb2:27017" },
          { _id: 2, host: "mongodb3:27017" }
        ]
      })
      EOF
      echo "✅ ReplicaSet initialized"
    restart: "no"

# --- Volumes ---
volumes:
  mongo_data:
  mongo_data2:
  mongo_data3:
